body {
    font-family: 'Arvo', serif;
    text-align: center;
    background: #545863ff;
}

h1 {
    font-size: 4rem;
    color: #dd6e42ff;
}

h2 {
    font-size: 3rem;
    color: #e36397ff;
}

img {
    max-height: 300px;
}

.length-input {
    font-size: 2rem;
    color: #e6efe9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    display: inline-block;
    margin: 1.25rem 1rem;
}

.flower {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

