<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackathon Flask</title>
</head>
<body>
<h1>IRIS</h1>

<form action="" method="post" novalidation>
    {{ form.hidden_tag() }}
    <p>
        {{ form.sepal_length.label }}
        {{ form.sepal_length(size=8) }}
    </p>
    <p>
        {{ form.sepal_width.label }}
        {{ form.sepal_width(size=8) }}
    </p>
    <p>
        {{ form.petal_length.label }}
        {{ form.petal_length(size=8) }}
    </p>
    <p>
        {{ form.petal_width.label }}
        {{ form.petal_width(size=8) }}
    </p>
    <p>{{ form.submit() }}</p>

    {% if variety is defined %}
    <h2>{{ variety }}</h2>
    {% endif %}
</form>
</body>
</html>